.mainTeamsWrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 35px;
    padding: 10px 120px;
}
.sorting{
    display: flex;
    justify-content: space-between;
}
.sorting span{
    border: 2px solid var(--yellow);
    padding:10px 20px;
    background: #fff;
    font-weight: bold;
    cursor:pointer;
}
@media only screen and (max-width : 426px) {
    .mainTeamsWrapper {
        padding: 0;
    }
}
